body {
    background-image: url("arène-romaine-antique-pour-gladiateurs-combat-dessin-vectoriel-illustration-de-l-amphithéâtre-du-colisée-vide-la-bataille-343355290.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 200px;
    color: brown;
}

img {
    width: auto;
    height: 200px;
}

button {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

.arena {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px
}

.hp-box {
    width: 150px;
    height: 16px;
    background: #333;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
}

.hp-fill {
    height: 100%;
    width: 100%;
    background: #4ade80;
    transition: width 0.3s ease, background 0.3s ease;
}

.monstre-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.monstre1Infos {
    color: brown;
    text-align: center;
}

.monstre2Infos {
    color: whitesmoke;
    text-align: center;
}

.triangle {
    font-size: 50px;
    text-align: center;
    color: red;
}


.BonusArea{
    background-color: gray;
    width: 250px;
    height: 250px;
    position: relative; 
    overflow: hidden;
}
.BonusArea button{
    width: 50px;
    height: 50px;
    position: absolute; 
    opacity: 0;
}
.BonusArea p{
   text-align: center;
   color: wheat;
   margin-top: 200px;
}
